.body{
  text-align: center;
}
.intro p{
  font-weight: normal;
}
.content{
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  background-color: grey;
  height: 300px;
  text-align: justify;
  font-size: x-large;
  float: left;
}
input[type=submit]{
  width: 340px;
  height: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border-radius: 10px;
}
input[type=submit]:hover{
  background-color: black;
  color: white;
}
input [type=number]{
  display: inline;
  gap: 0px;
}
#day{
  height: 30px;
  font-size: large;
  border-radius: 9px;
  width: 100px;
}
#month{
  height: 30px;
  font-size: large;
  border-radius: 9px;
  width: 100px;
}
#year{
  height: 30px;
  font-size: large;
  border-radius: 9px;
  width: 100px;
}
body{
  background-image: url("../images/akan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.table{
  background-color: white;
  float: right;
}
table{
  width: 350px;
  height: 350px;
}